<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">
    <div>
        <nav class="navbar navbar-primary">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Prattle</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/admin/home">Home</a></li>
                    <li><a href="/admin/home/groups">Create Group</a></li>
                    <li><a href="/admin/home/requests">Join Requests</a></li>
                    <li><a href="/admin/home/sendinvites">Send Invites</a></li>
                    <li><a href="/admin/home/deletegroup">Delete Groups</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form autocomplete="off" action="#" th:action="@{/admin/home/deletegroup}"
                 method="post" class="form-horizontal"
                  role="form">
                <h2>Group Form</h2>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" id="groupName" name="groupName" th:placeholder="groupName"
                               class="form-control"/> <br/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Delete Group</button>
                    </div>
                </div>

                <h2><span class="text-success" th:utext="${successMessage}"></span></h2>

            </form>
        </div>
    </div>
</div>

</body>
</html>